{% extends 'base.html' %}
{% block content %}

<div class="container" style="padding-top: 80px;">
  <h1 style="border-bottom: 1px solid black;">아파트 실거래가 데이터베이스</h1>
</div>

{% if dbcode == 1 %}
  <div class="container" style="padding-top: 20px;">
    실거래가 데이터베이스를 만들기 완료
  </div>

{% elif dbcode == 2 %}
  <div class="container" style="padding-top: 20px;">
    법정동코드 데이터베이스를 만들기 완료
  </div>

{% elif dbcode == 3 %}
  <div class="container" style="padding-top: 20px;">
    <p>법정동코드 리스트</p>
    <div class="container text-center"></div>
      <div class="row">
        {% for sido in sidoList%}
          <div class="col">
            {{ sido[1] }}<br>
            {% for bjdcode in bjdCodeList %}
              {% if bjdcode[0:2] == sido[0] %}
                {{ bjdcode }}<br>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% elif dbcode == 4 %}
<div class="container" style="padding-top: 20px;">
  아파트 이름 수정완료
</div>

{% endif %}

{% endblock %}